@inherits LayoutComponentBase

<MudThemeProvider Theme="_theme" />
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.Small" />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => ToggleDrawer())" />
        <MudText Typo="Typo.h5" Class="ml-3">Cinema</MudText>
        <MudSpacer />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <MyNavMenu />
    </MudDrawer>
    <MudMainContent>
        <div class="main-content">
            @Body
        </div>
    </MudMainContent>
</MudLayout>