@inherits LayoutComponentBase

<MudThemeProvider />

<MudLayout>
    <MudAppBar>
        My Application
    </MudAppBar>
    <MudMainContent>
        <div style="padding: 40px; margin: auto;">
            @Body
        </div>
    </MudMainContent>
</MudLayout>